In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("5 min traffic intensity 2018 2019 2.csv")

/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/647686325.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv("5 min traffic intensity 2018 2019 2.csv")

In [3]:
stacked_data = data1

'''stacked_data = pd.concat([data1, data2, data3, data4], axis=0)

# Reset index if needed
#stacked_data.reset_index(drop=True, inplace=True)

# Display the stacked DataFrame
stacked_data.head()'''

'stacked_data = pd.concat([data1, data2, data3, data4], axis=0)\n\n# Reset index if needed\n#stacked_data.reset_index(drop=True, inplace=True)\n\n# Display the stacked DataFrame\nstacked_data.head()'

In [4]:
# Define the list of values to be removed
values_to_remove = ['RWS01_MONIBAS_0071hrl1805ra', 'RWS01_MONIBAS_0281hrl1476ra',
                    'RWS01_MONIBAS_0071hrr1805ra', 'RWS01_MONIBAS_0281hrr1476ra',
                    'RWS01_MONIBAS_0321hrr0654ra', 'RWS01_MONIBAS_0321hrl0654ra',
                    'RWS01_MONIBAS_0321hrr0467ra', 'RWS01_MONIBAS_0321hrl0467ra',
                    'RWS01_MONIBAS_0041hrl0151ra', 'RWS01_MONIBAS_0041hrr0152ra',
                    'RWS01_MONIBAS_0070vwb1401ra', 'RWS01_MONIBAS_0070vwc1401ra'
                   ]

# Filter out rows with specified values in the id_meetlocatie column
stacked_data = stacked_data[~stacked_data['id_meetlocatie'].isin(values_to_remove)]

# Reset index if needed
stacked_data.reset_index(drop=True, inplace=True)

# Display the filtered DataFrame
#filtered_stacked_data.head()

In [5]:
data = stacked_data

In [6]:
# Assuming 'data' is your DataFrame
data['gem_intensiteit'] = data['gem_intensiteit'].replace(-1, 0)
data['gem_snelheid'] = data['gem_snelheid'].replace(-1, 0)

/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/4205887186.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['gem_intensiteit'] = data['gem_intensiteit'].replace(-1, 0)
/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/4205887186.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['gem_snelheid'] = data['gem_snelheid'].replace(-1, 0)

In [7]:
#check for missing values

data.groupby('id_meetlocatie').apply(lambda x: x['gem_snelheid'].isnull().sum())

id_meetlocatie
RWS01_MONIBAS_0021hrl0414ra    0
RWS01_MONIBAS_0021hrl1309ra    0
RWS01_MONIBAS_0021hrl2368ra    0
RWS01_MONIBAS_0021hrr0415ra    0
RWS01_MONIBAS_0021hrr1309ra    0
RWS01_MONIBAS_0021hrr2368ra    0
RWS01_MONIBAS_0131hrl0122ra    0
RWS01_MONIBAS_0131hrr0122ra    0
RWS01_MONIBAS_0271hrl1140ra    0
RWS01_MONIBAS_0271hrr1140ra    0
RWS01_MONIBAS_0281hrl1029ra    0
RWS01_MONIBAS_0281hrr1029ra    0
RWS01_MONIBAS_0731hrl1018ra    0
RWS01_MONIBAS_0731hrr1018ra    0
dtype: int64

In [8]:
data["ndw_index"].unique()

array(['F1A', 'F3A', 'F5A', 'F7A', 'F9A', 'F801A', 'F1B', 'F2B', 'F3B',
       'F4B', 'F9B', 'F10B', 'F11B', 'F12B'], dtype=object)

In [9]:
#remove stopping lane

data = data[data['ndw_index'] != 'F801A']

In [10]:
# Assuming 'data' is your DataFrame and 'time_column' is the name of the column containing the datetime values
data['time_column'] = pd.to_datetime(data['start_meetperiode'])  # Convert to datetime if not already

# Extract year, month, day, hour, and minute into separate columns
data['date'] = data['time_column'].dt.date
data['year'] = data['time_column'].dt.year
data['month'] = data['time_column'].dt.month
data['day'] = data['time_column'].dt.day
data['hour'] = data['time_column'].dt.hour
data['minute'] = data['time_column'].dt.minute
data['day_of_week'] = data['time_column'].dt.dayofweek
data['weekend'] = (data['day_of_week'] >= 5).astype(int)

# Now you have separate columns for year, month, day, hour, and minute

/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/1678938041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time_column'] = pd.to_datetime(data['start_meetperiode'])  # Convert to datetime if not already
/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/1678938041.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['time_column'].dt.date
/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/1678938041.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['year'] = data['time_column'].dt.year
/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/1678938041.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month'] = data['time_column'].dt.month
/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/1678938041.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'] = data['time_column'].dt.day
/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/1678938041.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'] = data['time_column'].dt.hour
/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/1678938041.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['minute'] = data['time_column'].dt.minute
/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/1678938041.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day_of_week'] = data['time_column'].dt.dayofweek
/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/1678938041.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['weekend'] = (data['day_of_week'] >= 5).astype(int)

In [11]:
# Add 0.000001 to the values in the "gem_intensiteit" column
data['gem_intensiteit'] += 0.000001

/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/3166473090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['gem_intensiteit'] += 0.000001

In [12]:
data['intensiteit'] = data['gem_intensiteit']/12

/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/191123816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['intensiteit'] = data['gem_intensiteit']/12

In [13]:
data['sumspeed'] = data['intensiteit'] * data ['gem_snelheid']

/var/folders/z1/4s69my7s1xq49f6ylfhnfr6h0000gn/T/ipykernel_1402/3443430302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sumspeed'] = data['intensiteit'] * data ['gem_snelheid']

In [14]:
#extra check not necessary if previous one was already succesful
#data.groupby('id_meetlocatie').apply(lambda x: x['gem_snelheid'].isnull().sum())

In [15]:
# Select the columns to group by
group_columns = ['id_meetlocatie', 'date', 'year', 'month', 'day', 'hour', 'minute', 'day_of_week', 'weekend', 'totaal_aantal_rijstroken']

# Group by the selected columns and aggregate other columns
grouped_data = data.groupby(group_columns).agg({'intensiteit': 'sum', 'sumspeed': 'sum'}).reset_index()

In [16]:
grouped_data['avg_speed'] = grouped_data['sumspeed'] / grouped_data['intensiteit']
grouped_data = grouped_data.drop(columns=['sumspeed'])

In [17]:
grouped_data.head(20)

,id_meetlocatie,date,year,month,day,hour,minute,day_of_week,weekend,totaal_aantal_rijstroken,intensiteit,avg_speed
0,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,0,0,0,5,26.0,113.565769
1,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,5,0,0,5,44.0,120.084545
2,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,10,0,0,5,27.0,113.071852
3,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,15,0,0,5,33.0,110.501212
4,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,20,0,0,5,22.0,110.667272
5,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,25,0,0,5,30.0,114.431999
6,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,30,0,0,5,32.0,116.973437
7,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,35,0,0,5,39.0,114.977949
8,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,40,0,0,5,44.0,111.043409
9,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,45,0,0,5,55.0,113.746182
10,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,50,0,0,5,48.0,116.666458
11,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,55,0,0,5,61.0,115.066557
12,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,1,0,0,0,5,90.0,114.810889
13,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,1,5,0,0,5,80.0,114.784500
14,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,1,10,0,0,5,111.0,115.566126
15,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,1,15,0,0,5,119.0,115.091765
16,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,1,20,0,0,5,132.0,116.432197
17,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,1,25,0,0,5,140.0,114.926357
18,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,1,30,0,0,5,160.0,114.757187
19,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,1,35,0,0,5,148.0,114.972230

In [18]:
grouped_data.shape

(2932181, 12)

In [19]:
'''test to see whether null variables'''
#grouped_data.groupby('id_meetlocatie').apply(lambda x: x['avg_speed'].isnull().sum())

'test to see whether null variables'

In [20]:
#grouped_data['hour'] = pd.to_numeric(grouped_data['hour'], errors='coerce')

In [21]:
#grouped_data = grouped_data[(grouped_data['hour'] > 5)]

In [22]:
#grouped_data = grouped_data[(grouped_data['hour'] < 21)]

In [23]:
holidays = pd.read_csv("holidays.csv")

In [24]:
import pandas as pd

# Assuming holidays is your DataFrame and 'date' is the column containing dates
# Convert 'date' column to datetime object
holidays['date'] = pd.to_datetime(holidays['date'], errors='coerce')

# Check unique values and infer date format
unique_dates = holidays['date'].dropna().dt.strftime('%Y-%m-%d').unique()
date_format = unique_dates[0] if len(unique_dates) == 1 else "Multiple formats detected"

# Print the inferred date format
print("Inferred date format:", date_format)

Inferred date format: Multiple formats detected

In [25]:
grouped_data['date'] = pd.to_datetime(grouped_data['date'], errors='coerce')

# Check unique values and infer date format
unique_dates = grouped_data['date'].dropna().dt.strftime('%Y-%m-%d').unique()
date_format = unique_dates[0] if len(unique_dates) == 1 else "Multiple formats detected"

# Print the inferred date format
print("Inferred date format:", date_format)

Inferred date format: Multiple formats detected

In [26]:
# Round the 'intensiteit' and 'alg_speed' columns to two decimals
grouped_data['intensiteit'] = grouped_data['intensiteit'].round(2)
grouped_data['avg_speed'] = grouped_data['avg_speed'].round(2)

In [27]:
merged_data = pd.merge(grouped_data, holidays, on='date', how='left')

merged_data['is_public_holiday'] = merged_data['is_public_holiday'].fillna(0).astype(int)

In [28]:
merged_data.head()

,id_meetlocatie,date,year,month,day,hour,minute,day_of_week,weekend,totaal_aantal_rijstroken,intensiteit,avg_speed,is_public_holiday
0,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,0,0,0,5,26.0,113.57,1
1,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,5,0,0,5,44.0,120.08,1
2,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,10,0,0,5,27.0,113.07,1
3,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,15,0,0,5,33.0,110.50,1
4,RWS01_MONIBAS_0021hrl0414ra,2018-01-01,2018,1,1,0,20,0,0,5,22.0,110.67,1

In [29]:
merged_data.to_csv('Preprocessed_5min_2018_2019.csv', index=False)