In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("Preprocessed_5min_2016_2017.csv")
data2 = pd.read_csv("Preprocessed_5min_2018_2019.csv")
data3 = pd.read_csv("Preprocessed_5min_2016_2019_altLocations.csv")

In [3]:
stacked_data = pd.concat([data1, data2, data3], axis=0)

# Reset index if needed
#stacked_data.reset_index(drop=True, inplace=True)

# Display the stacked DataFrame
stacked_data.head()

,id_meetlocatie,date,year,month,day,hour,minute,day_of_week,weekend,totaal_aantal_rijstroken,intensiteit,avg_speed,is_public_holiday
0,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,0,4,0,5,36.00,110.76,1
1,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,5,4,0,5,23.00,108.16,1
2,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,10,4,0,5,27.00,102.37,1
3,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,15,4,0,5,21.00,111.68,1
4,RWS01_MONIBAS_0021hrl0414ra,2016-01-01,2016,1,1,0,20,4,0,5,17.25,114.75,1

In [4]:
date_counts = stacked_data['year'].value_counts()

print(date_counts.head(950))

2019    2308561
2016    2307207
2017    2294550
2018    2152132
Name: year, dtype: int64

In [5]:
stacked_data.shape

(9062450, 13)

In [6]:
stacked_data.to_csv('Preprocessed_5min_2016_2019.csv', index=False)